.navbar.navbar-expand-lg {
  background-color: #ffc500;
  color: white;
}

.nav-link.dropdown-toggle {
  background-color: #ffc500;
  color: white;
}

.dropdown-menu {
  background-color: #ffc500;
  color: white;
}

.dropdown-item {
  background-color: #ffc500;
  color: white;
}

#menuKleur {
  color: white;
}
