<app-navbar></app-navbar>
<app-nav-bar-bot></app-nav-bar-bot>

<form>
  <div class="form-group">

<div [hidden]="submitted">
  <label>Biertje</label><br>
  <app-bier-list></app-bier-list>
</div>

  <div class="form-group">
    <hr>
    <p>Druk op een ster om een rating te geven aan bovenstaand biertje.</p>
    <p>Rating {{model.cijfer}}</p>
    <img src="../../assets/images/1star.png" alt="" width="10%" (click)="model.cijfer=1">
    <img src="../../assets/images/2star.png" alt="" width="10%" (click)="model.cijfer=2">
    <img src="../../assets/images/3star.png" alt="" width="10%" (click)="model.cijfer=3">
    <img src="../../assets/images/4star.png" alt="" width="10%" (click)="model.cijfer=4">
    <img src="../../assets/images/5star.png" alt="" width="10%" (click)="model.cijfer=5">
  </div>

  <div class="form-group">
    <label>Omschrijving</label>
    <textarea class="form-control" required #omschrijving placeholder="Omschrijving (max 250 karakters)"></textarea>
  </div>

    <div class="form-group">
    <label>Datum</label><br>
      <input type="date" #datum>
  </div>

    <div class="form-group">
    <label>Locatie</label><br>
    <select [(ngModel)]="selectedLocatie" name="locatie" #locatie>
      <option *ngFor="let locatie of locaties" [ngValue]="locatie">{{locatie.naam} </option>
    </select>
    </div>

  <button type="button" class="btn btn-primary" id="buttonStars" type="submit" (click)="saveRate(omschrijving.value, datum.value, selectedLocatie.naam)">Bevestig</button>
  <br>
  <label type="label" class="lbl lbl-primary" [hidden]="!invalid">Vul alle velden in.</label>
</div>
<div [hidden]="!submitted">
  <h1>De rating is succesvol toegevoegd aan je geschiedenis</h1>
  <button type="button" (click)="checkAchievements()" class="btn btn-primary" routerLink="../homepage">Oké</button>
</div>
</form>
