.navbar.navbar-expand-lg {
  background-color: gold;
  color: white;
}

#menuKleur {
  color: white;
}

.btn.btn-primary{
  background-color: gold;
  outline-color: white;
  color: white;
}

.lbl.lbl-primary{
  color: firebrick;
}


