<div>
  <button id="alertButton" class="btn btn-primary btn-lg" (click)="reset()" [hidden]="achieved===0">
    <span class="badge badge-light" style="color: #ffc500; background-color: white" >{{achieved}}</span>
  </button>
</div>

<div routerLink="../achievements">
  <br>

  <p *ngFor="let alert of alerts" >
    <ngb-alert id="alertBox" [type]="alert.type" (close)="close(alert)" >{{ alert.message }} {{onAudioPlay()}}
      <img src="../../assets/achImages/imageedit_7_5760120604.png" width="15%">
    </ngb-alert>
  </p>
</div>

<audio #audioOption>
  <source src='../../assets/achImages/pcmouseclick1.mp3' type="audio/mp3">
</audio>
