#alertButton {
  background-color: #ffc500;
  float: right;
  bottom: 1%;
  right: 1%;
  position: fixed;
  height: 70px;
  width: 70px;
  min-width: 50px;
  min-height: 50px;
  border-color: #ffc500;
  border-width: thick;
  border-radius: 25%;
}

#alertBox {
  background-color: #ffc500;
  max-width: 15%;
  float: right;
}
