<div class="container">
  <button class="btn btn-lg btn-primary btn-block" type="submit" routerLink="">Fuck Go Back</button>
  <div [hidden]="submitted">
    <h1>Gebruikersregistartie</h1>
    <form (ngSubmit)="onSubmit()" #userForm="ngForm">
      <div class="form-group">
        <label for="naam">Naam</label>
        <input type="text" class="form-control" id="naam"
               required
               [(ngModel)]="model.naam" name="naam"
               #naam="ngModel" placeholder="naam">
        <div [hidden]="naam.valid || naam.pristine"
             class="alert alert-danger">
          Naam is verplicht
        </div>
      </div>

      <div class="form-group">
        <label for="leeftijd">Leeftijd</label>
        <input type="number" class="form-control" id="leeftijd" required [(ngModel)]="model.leeftijd" name="leeftijd" #leeftijd="ngModel" placeholder="leeftijd">
        <div [hidden]="leeftijd.valid || leeftijd.pristine" class="alert alert-danger">
          Leeftijd is verplicht
        </div>
      </div>

      <div class="form-group">
      <label for="username">Gebruikersnaam</label>
      <input type="text" class="form-control" id="username" required
             [(ngModel)]="model.username" name="username" #username="ngModel" placeholder="gebruikersnaam">
      <div [hidden]="username.valid || username.pristine"
           class="alert alert-danger">
        Username is verplicht
      </div>

        <div class="form-group">
          <label for="password">Wachtwoord</label>
          <input type="password" class="form-control" id="password" required
                 [(ngModel)]="model.password" name="password" #password="ngModel" placeholder="wachtwoord">
          <div [hidden]="password.valid || password.pristine"
               class="alert alert-danger">
            Password is verplicht
          </div>
        </div>
    </div>

      <button type="submit" class="btn btn-success" [disabled]="!userForm.form.valid">Bevestig</button>
      <button type="button" class="btn btn-default" (click)="newUser(); userForm.reset()">Leeg velden</button>
    </form>
  </div>

  <div [hidden]="!submitted">
    <h2>Je hebt het volgende bevestigd:</h2>
    <div class="row">
      <div class="col-xs-3">Naam</div>
      <div class="col-xs-9">{{ model.naam }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Leeftijd</div>
      <div class="col-xs-9">{{ model.leeftijd}}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Gebruikersnaam</div>
      <div class="col-xs-9">{{ model.username}}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Wachtwoord</div>
      <div class="col-xs-9" type="password">{{ model.password}}</div>
    </div>
    <br>
    <button class="btn btn-primary" routerLink="" type="submit" (click)="saveUser()">Oké</button>
    <button class="btn btn-primary" (click)="submitted = false">Wijzig gebruiker</button>
  </div>
</div>
