.navbar.navbar-expand-lg {
  background-color: gold;
  color: white;
}

#menuKleur {
  color: white;
}

#test{
  background-color: gold;
}

.nav-item {
  background-color: gold;
  color: white;
}

.nav-link active {
  background-color: gold;
  color: white;
}

.nav-link{
  background-color: gold;
  color: white;
}

a:hover {
  background-color: white;
  color: gold;
}

#imageAch{
  margin-top: -150px;
  width: 600px;
}
