#rating-cijfer{
  color: darkgoldenrod;
  font-size: xx-large;
}

.omschrijving {
  background-color: #ffc500;
  color: whitesmoke;
  width: available;
  height: available;
  border-radius: 4px;
  margin: 5%;
}

.images {
  width: available;
}

.border-box {
  display: table;
  clear: both;
}

.col-xs-6 {
  alignment: center;
  text-align: center;
  color: darkgoldenrod;
  background-color: palegoldenrod;
  max-width: 400px;
  border-radius: 4px;
  width: 97%;
  margin: 3%;
}
